<div class="page-content">
  <div class="course-details-wrapper topic-1 uk-light">
    <div class="page-content-inner pt-lg-8 pb-0">
      <div class="mb-lg-5" uk-grid="">
        <div class="uk-width-1-3@m">
          <div class="course-thumbnail">
            <img src="..\assets\images\course\1.png" alt="" />
            <a
              class="play-button-trigger show"
              href="#trailer-modal"
              uk-toggle=""
            >
            </a>
          </div>

          <!-- video demo model -->
          <div id="trailer-modal" uk-modal="">
            <div class="uk-modal-dialog">
              <button
                class="uk-modal-close-default mt-2 mr-1"
                type="button"
                uk-close=""
              ></button>
              <div class="uk-modal-header">
                <h4>Trailer video</h4>
              </div>
              <div class="video-responsive">
                <iframe
                  src="https://www.youtube.com/embed/nOCXXHGMezU"
                  class="uk-padding-remove"
                  uk-video="automute: true"
                  frameborder="0"
                  allowfullscreen=""
                  uk-responsive=""
                ></iframe>
              </div>

              <div class="uk-modal-body">
                <h3>Build Responsive Websites</h3>
                <p>
                  Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint
                  occaecat cupidatat non proident, sunt in culpa qui officia
                  deserunt mollit anim id est laborum.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-width-2-3@m course-details pt-0">
          <h1>The Complete JavaScript Crash Course</h1>

          <p>
            Master JavaScript with the most complete course! Projects Excellent
            course. we explain the core concepts in javascript that are usually
            glossed over in other courses. And he does it in a manner that is
            clear and concise
          </p>

          <div class="uk-flex uk-flex-between uk-flex-bottom mt-lg-4">
            <div>
              <div class="course-details-info">
                <ul>
                  <li>
                    <div class="star-rating">
                      <span class="avg"> 4.9 </span> <span class="star"></span
                      ><span class="star"></span><span class="star"></span
                      ><span class="star"></span><span class="star"></span>
                    </div>
                  </li>
                  <li><i class="icon-feather-users"></i> 1200 Enerolled</li>
                </ul>
              </div>

              <div class="course-details-info">
                <ul>
                  <li>Created by <a href="#"> Jonathan Madano </a></li>
                  <li>Last updated 10/2019</li>
                </ul>
              </div>
            </div>
            <a href="takecouse.html" class="btn-course-start btn">
              Start The Course
            </a>
          </div>
        </div>
      </div>

      <nav class="responsive-tab style-5">
        <ul
          uk-switcher="connect: #course-intro-tab ;animation: uk-animation-slide-right-medium, uk-animation-slide-left-medium"
        >
          <li><a href="#">Description</a></li>
          <li><a href="#">Curriculum</a></li>
          <li><a href="#">Comments</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="page-content-inner">
    <div class="uk-grid-large" uk-grid="">
      <div class="uk-width-2-3@m">
        <ul id="course-intro-tab" class="uk-switcher mt-4">
          <!-- Description -->
          <li class="course-description-content">
            <h4>Description</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
              erat volutpat. Ut wisi enim ad minim laoreet dolore magna aliquam
              erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
              tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
              consequat
            </p>
            <p>
              consectetuer adipiscing elit, sed diam nonummy nibh euismod
              tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
              enim ad minim veniam, quis nostrud exerci
            </p>

            <h4>What you’ll learn</h4>
            <div class="uk-child-width-1-2@s" uk-grid="">
              <div>
                <ul class="list-2">
                  <li>Setting up the environment</li>
                  <li>Advanced HTML Practices</li>
                  <li>Build a portfolio website</li>
                  <li>Responsive Designs</li>
                </ul>
              </div>
              <div>
                <ul class="list-2">
                  <li>Understand HTML Programming</li>
                  <li>Code HTML</li>
                  <li>Start building beautiful websites</li>
                </ul>
              </div>
            </div>

            <h4>Requirements</h4>
            <ul class="list-1">
              <li>Any computer will work: Windows, macOS or Linux</li>
              <li>Basic programming HTML and CSS.</li>
              <li>Basic/Minimal understanding of JavaScript</li>
            </ul>

            <h4>Here is exactly what we cover in this course:</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
              erat volutpat. Ut wisi enim ad minim laoreet dolore magna aliquam
              erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
              tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
              consequat
            </p>

            <p>
              consectetuer adipiscing elit, sed diam nonummy nibh euismod
              tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
              enim ad minim veniam, quis nostrud exerci
            </p>

            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
              erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
              tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
              consequat. Nam liber tempor cum soluta nobis eleifend option
              congue nihil imperdiet doming id quod mazim placerat facer possim
              assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
              sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
              aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
              exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
              commodo consequat.
            </p>
          </li>

          <!-- Curriculum-->
          <ul class="course-curriculum" uk-accordion="multiple: true">
            <li class="uk-open">
              <a class="uk-accordion-title" href="#"> Html Introduction </a>
              <div class="uk-accordion-content">
                <!-- course-video-list -->
                <ul class="course-curriculum-list">
                  <li>What is HTML <span> 23 min </span></li>
                  <li>What is a Web page? <span> 23 min </span></li>
                  <li>
                    Your First Web Page
                    <a href="#trailer-modal" uk-toggle=""> Preview </a>
                    <span> 23 min </span>
                  </li>
                  <li>Brain Streak <span> 23 min </span></li>
                </ul>
              </div>
            </li>

            <li>
              <a class="uk-accordion-title" href="#"> Your First webpage</a>
              <div class="uk-accordion-content">
                <!-- course-video-list -->
                <ul class="course-curriculum-list">
                  <li>Headings <span> 23 min </span></li>
                  <li>Paragraphs <span> 23 min </span></li>
                  <li>
                    Emphasis and Strong Tag
                    <a href="#trailer-modal" uk-toggle=""> Preview </a>
                    <span> 23 min </span>
                  </li>
                  <li>Brain Streak <span> 23 min </span></li>
                  <li>Live Preview Feature <span> 23 min </span></li>
                </ul>
              </div>
            </li>

            <li>
              <a class="uk-accordion-title" href="#"> Some Special Tags </a>
              <div class="uk-accordion-content">
                <!-- course-video-list -->
                <ul class="course-curriculum-list">
                  <li>The paragraph tag <span> 23 min </span></li>
                  <li>
                    The break tag
                    <a href="#trailer-modal" uk-toggle=""> Preview </a>
                    <span> 23 min </span>
                  </li>
                  <li>Headings in HTML <span> 23 min </span></li>
                  <li>Bold, Italics Underline <span> 23 min </span></li>
                </ul>
              </div>
            </li>

            <li>
              <a class="uk-accordion-title" href="#"> HTML Advanced level </a>
              <div class="uk-accordion-content">
                <!-- course-video-list -->
                <ul class="course-curriculum-list">
                  <li>Something to Ponder<span> 23 min </span></li>
                  <li>Tables <span> 23 min </span></li>
                  <li>
                    HTML Entities
                    <a href="#trailer-modal" uk-toggle=""> Preview </a
                    ><span> 23 min </span>
                  </li>
                  <li>HTML Iframes <span> 23 min </span></li>
                  <li>Some important things <span> 23 min </span></li>
                </ul>
              </div>
            </li>
          </ul>

          <!-- Comments-->
          <li>
            <div class="comments">
              <h4>
                Comments
                <span class="comments-amount"> (Number of comments) </span>
              </h4>

              <ul>
                <li>
                  <div class="comments-avatar">
                    <img src="..\assets\images\avatars\avatar-2.jpeg" alt="" />
                  </div>
                  <div class="comment-content">
                    <div class="comment-by">Stella Johnson</div>
                    <p>
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                      sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                      magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                      quis nostrud exerci tation ullamcorper suscipit lobortis
                      nisl ut aliquip ex ea commodo consequat.
                    </p>
                  </div>
                </li>
              </ul>
            </div>

            <div class="comments">
              <h3>Submit Review</h3>
              <ul>
                <li>
                  <div class="comments-avatar">
                    <img src="..\assets\images\avatars\avatar-2.jpeg" alt="" />
                  </div>
                  <div class="comment-content">
                    <form class="uk-grid-small" uk-grid="">
                      <div class="uk-width-1-2@s">
                        <label class="uk-form-label">Name</label>
                        <input
                          class="uk-input"
                          type="text"
                          placeholder="Name"
                        />
                      </div>
                      <div class="uk-width-1-2@s">
                        <label class="uk-form-label">Email</label>
                        <input
                          class="uk-input"
                          type="text"
                          placeholder="Email"
                        />
                      </div>
                      <div class="uk-width-1-1@s">
                        <label class="uk-form-label">Comment</label>
                        <textarea
                          class="uk-textarea"
                          placeholder="Enter Your Comments her..."
                          style="height: 160px"
                        ></textarea>
                      </div>
                      <div class="uk-grid-margin">
                        <input
                          type="submit"
                          value="submit"
                          class="button success"
                        />
                      </div>
                    </form>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
