<div class="page-content">
	<div class="section">
		<div class="page-content-inner">

			<div class="section-small text-md-left text-center">
				<div class="uk-child-width-1-2@m uk-gird-large uk-flex-middle" uk-grid="">
					<div>
						<img src="..\assets\images\feature.png" alt="">
					</div>
					<div>
						<h2>
							<p>What do you want to learn? </p>
							<p>Nevermind, if you want to learn anything, anytime , Nasayo Center is made for you.</p>
							<p>So what are you waiting for? </p>
							{% if not app.user %}
								<p>Sign up right now and start taking courses !</p>
							{% endif %}
						</h2>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
