<div class="page-content">
	<div class="section">
		<div class="page-content-inner">

			<div class="section-small text-md-left text-center">
				<div class="uk-child-width-1-2@m uk-gird-large uk-flex-middle" uk-grid="">
					<div>
						<img src="..\assets\images\feature.png" alt="">
					</div>
					<div>
						<h2>Learn to code anytime
							<br>
							and everywhere
							<p>
								Get started with just your name and your email adress . It’s as simple
								<br>
								as
								                                that
								                                -- no payments or credit card information required.
							</p>
						</h2>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
