{% extends 'base.html.twig' %}

{% block title %}NasayoCenter - My Courses{% endblock %}

{% block body %}
<div class="page-content">


	<div class="page-content-inner">
		<div class="section-small">
			<h4 class="mb-lg-5">My Courses</h4>
			{% if formerCourses is empty %}
				<p class="uk-text-center uk-text-lead uk-text-info">You don't have any course yet to give !</p>
				<br><br><br><br><br><br><br><br><br><br><br><br>
			{% else %}
				<div class="uk-child-width-1-4@m uk-child-width-1-3@s course-card-grid uk-grid" uk-grid="">
					{% for course in formerCourses %}
						<div class="uk-first-column">
							<a href="{{ path('course', {'slug': course.slug}) }}">
								<div class="course-card">
									<div class="course-card-thumbnail ">
										<img src="{{ vich_uploader_asset(course, 'imageFile') }}">
									</div>
									<div class="course-card-body">
										<h4>{{ course.nomformation }}</h4>
										<p>{{ course.description|u.truncate(150, '....', false) }}</p>
									</div>
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}
